// H1
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
$title: 'PT serif', 'serif';

// H2 y H3
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$description: 'Poppins', 'sans-serif';

// Footer
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
$attribution: 'Montserrat', 'sans-serif';