@use '../abstracts' as *;
@use '../base' as *;

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-gap: 10px;

    @include medium {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}
.grid-item {
    display: flex;

    &:nth-child(even) {
       padding-top: 3.5rem;

        @include medium {
            padding-top: 0;
        }  
    }
    &:nth-child(2),
    &:nth-child(5) {
        @include medium {
            padding-top: 9rem; 
        }
    }
}


