@use '../abstracts' as *;
@use '../base' as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;

    &__description {
        color: $light-blue;

        @include medium {
            padding-top: 3rem;
            padding-right: 3rem; 
        }
    }
    &__title {
        font-family: $title;
        letter-spacing: 1px;
        color: $dark-blue;
    }    
    &__subtitle {
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
    }    
    &__text {
        line-height: 21px;
        max-width: 370px;
    }
    @include medium {
        display: flex;
        flex-direction: row;
    }
}