// Body
$bg-body:#FFF5F8;
// Header
$header-title: #9A7186;
$header-subtitle: #BC808A;
$header-text: #BC808A;

// Team
$pic-shadow: #BC808A;
$pos-shadow: #BC808A;

$name: #9A7186;
$position: #FFFFFF;

$bg-position: #9d4edd;
